name: Make Podcast Feeds
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
      - name: Check Repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyyaml

      - name: Run Feed Generator
        run: python feed.py

      - name: Push Repo
        run: |
          git config user.name Sahid1981
          git config user.email juha.jermalainen@gmail.com
          git add .
          git commit -m "Modified Feed"
          git push
